<!DOCTYPE html>
<html lang="en">
<head>
    <title>NeuroTrack</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/colours.css">
    <link rel="stylesheet" href="assets/css/main-style.css">
