<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/colours.css">
    <link rel="stylesheet" href="assets/css/main-style.css">
    <title>NeuroTrack</title>
</head>
<body>
    <div id="header">
        <div id="branding">
            NEUROTRACK
        </div>
        <div id="nav">
            <div id="nav-button">
                BUTTON
            </div>
        </div>
    </div>
    <div id="nav-menu" class="nav-menu-hide">
        MENU
    </div>
    <div class="container">

    </div>
<script type="module" src="assets/js/nav-menu.mjs"></script>
</body>
</html>